<!-- This is views/created.ejs -->

Carro adicionaddo com sucesso!!! 

<p> 
<b>Marca do carro:</b> <%= marca %> <br> 
<b>Modelo do carro:</b> <%= modelo %> <br>
<b>Ano de Fabrico:</b> <%= anoFabrico %> <br> 
<b>Matricula do carro:</b> <%= matricula %> <br> 
<b>Tipo:</b> <%= tipo %> <br> 
<b>Preço de compra:</b> <%= precoCompra %> <br> 
<b>Data da compra:</b> <%= dateCompra %> <br> 
<b>Valor de Restauro:</b> <%= restauro %> <br> 
<b>Preço de Venda:</b> <%= precoVenda %> <br>  


<a href='/public/novoCarro.html'>Add a new car.</a> 
<a href='/public/index.html'>Voltar para o inicio.</a>
<br>
